<div class="container-display">
  <h1>Editing listing</h1>

  <%= render "form", listing: @listing %>

  <br>

  <div>
    <%= link_to "Show this listing", @listing , class:"btn-medium"%> |
  <%= link_to " ", listings_path, class:"fa-solid fa-arrow-left"%>
  </div>
</div>
