// Specific CSS for your home-page
.carousel {
  max-height: fit-content;
}

.carousel-inner {
  max-height: 200px;
}

.page {
  padding: 15px;
}

.page__header {
  h1 {
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
  }

  h2 {
    font-size: 25px;
    padding-top: 220px;
    font-weight: bold;
  }
}

.page__search {
  padding: 5px;
  margin-top: 1rem;
}

.page__bar {
  background-color: green;
  padding: 5px;
}

.page__listing {
  padding: 5px;
}
