<p style="color: green"><%= notice %></p>

<% if @bookings.count > 0 %>
  <div id="bookings">
    <% @bookings.each do |booking| %>
      <%= render booking %>
      <p>
        <%= link_to "Show this booking", booking %>
      </p>
    <% end %>
  </div>
<% else %>
  <h1>Bookings</h1>
  <h2>No bookings made yet</h2>
  <%= render "shared/search" %>
<% end %>
