<div class="container-display">
  <h1>Request to book</h1>
  <div class="card-trip card-trip-infos">
    <%= render "form", booking: @booking %>
  </div>
</div>
 <%= link_to " ", listings_path, class:"fa-solid fa-arrow-left"%>
