<nav class="bottom-nav">
  <div class="footer">
    <div class="footer-element">
      <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      <div class="footer-description">Explore</div>
    </div>
    <div class="footer-element">
      <a href="#"><i class="fa-solid fa-book-atlas"></i></a>
      <div class="footer-description">Bookings</div>
    </div>
    <div class="footer-element">
      <a href="#"><i class="fa-solid fa-heart"></i></a>
      <div class="footer-description">Wishlist</div>
    </div>
    <div class="footer-element">
      <a href="#"><i class="fa-solid fa-user"></i></a>
      <div class="footer-description">Login</div>
    </div>
  </div>
</nav>
