<div class="page__search">
  <form class="navbar-form" action="/listings" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="✓">
    <div class="input-group">
      <input type="text" name="query" id="query" placeholder="Where you go sia?" class="form-control">
      <div class="input-group-btn">
        <button name="button" type="submit" class="btn btn-grab">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
