<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1>Airbnb</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <%= link_to "New listing", new_listing_path, class: "btn btn-primary" %>
    <%= link_to "New booking", new_booking_path, class: "btn btn-success" %>
</div>
