<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1>Airbnb</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button class="btn btn-primary">Get Started</button>
</div>
