.btn-grab {
  animation: blinkingBackground 2s infinite;
  color: $white;
}


@keyframes blinkingBackground{
  0%		{ background-color: $grab; }
  25%		{ background-color: $grab-secondary; }
  50%		{ background-color: $grab; }
  75%		{ background-color: $grab-secondary; }
  100%	{ background-color: $grab; }
}

.btn-medium {
	background-color: $grab;
  color: #ffffff;
  text-decoration: none !important;
	border: 1px solid #999999;
	padding: 15px 25px;
	border-radius: 40px;
	font-weight: lighter;
	opacity: 1.0;
}

.btn-grey {
	background-color: #989696;
  color: #ffffff;
	border: 1px solid #999999;
	padding: 15px 25px;
	border-radius: 40px;
	font-weight: lighter;
	opacity: 1.0;
}
