<p style="color: green"><%= notice %></p>

<h1>What they say leh?</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <br>
    <hr>
  <% end %>
</div>
<br>
 <%= link_to " ", listing_path(@listing), class:"fa-solid fa-arrow-left"%>
