<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <p>
      <%= link_to "Show this review", @listing%>
    </p>
  <% end %>
</div>

<%= link_to "New review", new_listing_review_path(:listing_id) %>
