<p style="color: green"><%= notice %></p>

<h1>What they say leh?</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <br>
    <hr>
  <% end %>
</div>


 <%= link_to " ", listings_path, class:"fa-solid fa-arrow-left"%>
