<p style="color: green"><%= notice %></p>

<h1>What they say leh?</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>

# check the path to redirect to specific listing
<%= link_to "Back to listing", listings_path %>
