<h1>New review</h1>

<%= render "form", review: @review, listing: @listing, booking: @booking %>

<br>

<div>
  <%= link_to "Back to reviews", reviews_path %>
  <%= link_to "Back to listing", listing_reviews_path(@review.listing) %>
</div>
